.result-image {
    cursor: pointer;
    transition: transform .3s;
}

.result-image:hover {
    transform-origin: center;
    transform: scale(1.1);
}

.modal-result-image {
    width: 200px;
    height: 300px;
    margin: 0 auto;
}

@media screen and (max-width: px) {}